# tensorflow==2.19.0
torch==2.6.0
numpy==2.1.3
pandas==2.2.3
pytest==8.3.5
# transformers @ git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
transformers @ git+https://github.com/huggingface/transformers@0ebd6651acd32c982fee265b23243b89bdb89577
python-dotenv==1.0.1